# List Basics

In [1]:
# Create a list of 10,20,30,40,50
mylist = [10,20,30,40,50]
print(mylist)

[10, 20, 30, 40, 50]

In [2]:
# append 60 to the end of list
mylist.append(60)
mylist

[10, 20, 30, 40, 50, 60]

In [3]:
# insert 5 at the front of list
mylist.insert(0, 5)  # 0  index
mylist

[5, 10, 20, 30, 40, 50, 60]

In [4]:
# insert 15 at position 2 (between 10,20)
mylist.insert(2,15)
mylist

[5, 10, 15, 20, 30, 40, 50, 60]

In [5]:
# iterate over the list and print one per line
for i in mylist:
    print(i)

5
10
15
20
30
40
50
60

In [6]:
# print first element in list
mylist[0]

5

In [7]:
# print last element in list
mylist[-1]

60

In [8]:
# print elements 2-4
mylist[2:5]

[15, 20, 30]

In [9]:
# print all elements starting with index 3
mylist[3:]

[20, 30, 40, 50, 60]

In [10]:
# print last 3 from second last
mylist[-3:-1]

[40, 50]

In [11]:
# copy the list into another 
mylist2 = mylist[:]
mylist2

[5, 10, 15, 20, 30, 40, 50, 60]

In [12]:
# delete the last element from the copied list,  print both to make sure you really have a copy
del(mylist2[-1])
print(mylist2)
print(mylist)

[5, 10, 15, 20, 30, 40, 50]
[5, 10, 15, 20, 30, 40, 50, 60]

In [13]:
# create another list with 10,3,4,15,20,5
mylist3 = [10,3,4,15,20,5]
mylist3

[10, 3, 4, 15, 20, 5]

In [14]:
# sort this list, is the original list changed?
mylist3s = sorted(mylist3)
print(mylist3s)
print(mylist3)

[3, 4, 5, 10, 15, 20]
[10, 3, 4, 15, 20, 5]

### List creation
a  = [7,3,5,6,10,11,23]
- print all elements less than 10
- instead of printing create another list

In [15]:
a  = [7,3,5,6,10,11,23]
# print all elements less than 10
for i in a:
    if i < 10:
        print(i)
        
b = []
for i in a:
    if i < 10:
        b.append(i)
print(b)

7
3
5
6
[7, 3, 5, 6]

### Duplicate detection
a = [1,5,2,10,7,4,6]
b = [1,4,3]
print all numbers common to a / b
print all numbers unique to a (not in b)
build another list (c) that has common elements

In [16]:
a = [1,5,2,10,7,4,6]
b = [1,4,3]

for i in a:
    if i in b:
        print("common ", i)
    else:
        print("unique to a ", i)

common  1
unique to a  5
unique to a  2
unique to a  10
unique to a  7
common  4
unique to a  6

# List Comprehension

In [17]:
a = [3,2,5,4,7,10]
# construct a list of even numbers from a
b = [x for x in a if x % 2 == 0]
b

[2, 4, 10]

In [18]:
# remove duplicates
a = [3,2,1,5,2,1,6,5]
print(a)
b = []
for i in a:
    if i not in b:
        b.append(i)
print (b)

[3, 2, 1, 5, 2, 1, 6, 5]
[3, 2, 1, 5, 6]

In [19]:
# generate a list with 10 random numbers
import random

a = []
for i in range(1,11):
    a.append(random.randint(0,100))
    
print(a)

[68, 57, 23, 87, 83, 49, 66, 63, 80, 30]

In [20]:
# take a sample
a = [1,2,3,4,5,6,7]
import random
random.sample(a,4)

[1, 6, 2, 4]

In [21]:
# shuffle a list
import random
a = [1,2,3,4,5,6,7]
print(a)
# select a random element from a list
print(random.choice(a))

# shuffle in place
random.shuffle(a)
print(a)

[1, 2, 3, 4, 5, 6, 7]
4
[4, 3, 7, 5, 1, 6, 2]