# Collections - Set - Solutions in Python
## Easy

### A1 - create a set s1 with 10,20,30,40,50

In [1]:
s1 = {10, 20, 30, 40 ,50}
print(s1)

{40, 10, 50, 20, 30}

### A2 - create an empty set s2

In [2]:
# doing s2 = {} won't work.  this will create a dictionary
s2 = set()
print (s2)

set()

### A3 - Add 60 to set s1

In [3]:
s1.add(60)
print (s1)

{40, 10, 50, 20, 60, 30}

### A4 - Check if element is in set

In [4]:
if 10 in s1:
    print ("10 exists in set")
    
if 100 not in s1:
    print ("100 doesn't exist")

10 exists in set
100 doesn't exist

### A5 - delete 10 from set

In [5]:
s1 = {10, 20, 30, 40 ,50}
s1.remove(10)
print(s1)
#s1.remove(10)  # this will raise a KeyError

s1 = {10, 20, 30, 40 ,50}
s1.discard(10)
print(s1)
s1.discard(10) #won't raise keyerror

{40, 50, 20, 30}
{40, 50, 20, 30}

### A6 - Iterate through the set and print each element

In [6]:
s1 = {10, 20, 30, 40 ,50}
for a in s1:
    print(a)

40
10
50
20
30

### A7 - Get sorted list from set

In [7]:
s1 = {20, 10, 30 ,50, 40}
print(sorted(s1))

[10, 20, 30, 40, 50]

### A8 - delete all elements from set s1

In [8]:
s1.clear()
print(s1)

set()

---
## Medium

### Working with two sets

### B1 - create two sets

In [9]:
a = {10,20,30,40}
b = {10,15,30}
print(a)
print(b)
# common
c = a & b
print(c)
c = a.intersection(b)
print(c)

{40, 10, 20, 30}
{10, 30, 15}
{10, 30}
{10, 30}

### B2 - Unique to `a` only

In [10]:
a = {10,20,30,40}
b = {10,15,30}
c = a - b
print(c)

{40, 20}

### B3 - union of set `a` and `b`

In [11]:
a = {10,20,30,40}
b = {10,15,30}
c = a | b
print(c)
c = a.union(b)
print(c)

{20, 40, 10, 30, 15}
{20, 40, 10, 30, 15}

### B4 - dedupe

In [12]:
# craete 50 random numbers between 1 and 100
import random
a = []
for i in range(1,50):
    a.append(random.randint(1,100))
print(a)
print ("length of list : " , len(a))

# create a set
s = set(a)
print(s)
print ("length of set : ", len(s))
print ("sorted numbers : ")
print(sorted(s))

[98, 59, 68, 94, 72, 55, 11, 24, 57, 85, 81, 52, 63, 28, 21, 36, 85, 92, 29, 44, 77, 83, 29, 1, 68, 64, 23, 87, 70, 83, 48, 84, 12, 32, 3, 76, 19, 93, 36, 75, 26, 86, 86, 18, 75, 12, 86, 17, 40]
length of list :  49
{1, 3, 11, 12, 17, 18, 19, 21, 23, 24, 26, 28, 29, 32, 36, 40, 44, 48, 52, 55, 57, 59, 63, 64, 68, 70, 72, 75, 76, 77, 81, 83, 84, 85, 86, 87, 92, 93, 94, 98}
length of set :  40
sorted numbers :
[1, 3, 11, 12, 17, 18, 19, 21, 23, 24, 26, 28, 29, 32, 36, 40, 44, 48, 52, 55, 57, 59, 63, 64, 68, 70, 72, 75, 76, 77, 81, 83, 84, 85, 86, 87, 92, 93, 94, 98]

### B5 : Get the frequency of the elements in a list

In [13]:
# get some random numbers
import random

a = [random.randrange(1,51,1) for _ in range (100)]
#print(a)

freq_count = {}

for i in a:
    freq_count[i] = freq_count.setdefault(i,0) + 1
    
#print(freq_count)
for key,value in freq_count.items():
    print(key, value)

43 4
44 3
29 2
7 3
13 1
22 3
12 4
17 2
6 2
20 2
10 2
9 3
47 3
40 2
50 5
24 4
4 1
39 2
35 5
46 2
48 1
33 1
18 5
26 2
34 3
16 2
5 4
31 2
27 1
21 2
14 3
1 3
15 2
45 3
36 1
19 2
30 1
2 1
8 1
25 1
32 1
49 1
23 1
28 1